<!-- footer area start -->
<footer class="footer-area">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-sm-4">
                    <a class="footer-logo" href="/"><img src="/assets/img/logo.png" loading="lazy" alt="logo"></a>
                </div>
                <div class="col-sm-8">
                    <div class="footer-social text-sm-right">
                        <span>SOCIAL MEDIA</span>
                        <ul class="social-icon">
                            <li>
                                <a href="https://www.facebook.com/OssoImobiliare" target="_blank"><i class="fa fa-facebook  "></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCQB6ebeXRodOHFdM0Jui8Mg" target="_blank"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ossoimobiliare" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>  
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">Osso</h4>
                        <p>Țintim să ajungem lider pe piața imobiliară Românească, punând interesul clienților deasupra interesului propriu, oferind cel mai mare nivel de expertiză și onestitate</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">Contact</h4>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> Str. Eugen Ionesco nr.73, Bloc C2, Parter, Birou 2, Cluj-Napoca, Cluj, România</li>
                            <li><i class="fa fa-phone"></i> +(40) 770 933 474</li>
                            <li><i class="fa fa-envelope"></i> office@ossoimobiliare.ro</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">Link-uri Utile</h4>
                        <ul>
                            <li><a href="https://anpc.ro/" target="_blank">ANPC</a></li>
                            <li><a href="#">Termeni și condiții</a></li>
                            <li><a href="#">Despre cookies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right text-center">
            © Copyright Osso Imobiliare @2021
        </div>
    </div>
</footer>
<!-- footer area end -->

<!-- back to top area start -->
<div class="back-to-top">
    <span class="back-top"><i class="fa fa-angle-up"></i></span>
</div>
<!-- back to top area end -->

<!-- all plugins here -->
<script src="/assets/js/vendor.js"></script>
<!-- main js  -->
<script src="/assets/js/main.js"></script>
<!-- pixel events -->
<script src="/assets/js/pixel.js"></script>

</body>
</html>