<div class="col-md-3 col-sm-6">
    <div class="single-property-info">
        <h5>Dormitoare</h5>
        <p><i class="fa fa-bed"></i><%= propertyBedrooms %></p>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="single-property-info">
        <h5>Băi</h5>
        <p><i class="fa fa-bath"></i><%= propertyBathrooms %></p>
    </div>
</div>