<%-include ("./partials/header") %>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area jarallax" style="background-image:url(assets/img/bg/contact.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h1 class="page-title">Contact</h1>
                        <ul class="page-list">
                            <li><a href="/">Acasă</a></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area End -->

    <!-- contact area start -->
    <div class="contact-area pd-top-100 pd-bottom-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-page-map">
                        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6996.122629129257!2d23.582977202228495!3d46.745673178498286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDbCsDQ0JzM3LjgiTiAyM8KwMzUnMDkuMyJF!5e0!3m2!1sro!2sro!4v1631007582576!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        
                    </div>
                </div>
            </div>
            <div class="row pd-top-92" id="contactPage">
                <div class="col-xl-3 col-sm-6">
                    <div class="single-contact-info">
                        <p><i class="fa fa-phone"></i>Telefon</p>
                        <h5> +(40) 770 933 474</h5>
                    </div>
                </div>
                
                <div class="col-xl-3 col-sm-6">
                    <div class="single-contact-info">
                        <p><i class="fa fa-envelope"></i>Ai întrebări?</p>
                         <h5> office@ossoimobiliare.ro</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-contact-info">
                        <p><i class="fa fa-phone"></i>Adresă</p>
                        <h5> Str. Eugen Ionesco nr.73, Bloc C2, Parter, Birou 2</h5>
                        <h5>Cluj-Napoca, Cluj, România</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area End -->

    <%-include ("./partials/footer") %>